body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

}

.section { 
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #region header*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
  background: #fff;
}

.nav-list {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-span {
  color: #2e2f42;
}

.contacts {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.nav-link.current-mobile {
  font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.nav-link {
  font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}

.mobile-contacts-list>.mobile-menu-tel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.contacts-item-mailto>a {
  display: block;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-icon-list {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.hero {
  background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 72px 0;
    margin: 0 auto;
}

.hero-title {
  display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
    height: 160;
}

.hero-btn {
    display: block;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background: #4d5ae5;
      padding: 16px 32px;
      border-radius: 4px;
      height: 56px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 10px;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* feature*/

.section {
  padding: 96px 0;
}

.container-mission {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
}

.feature-type {
  text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.feature {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.feature-item-border {
  display: none;
}

.feature-item {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* our team*/

.section-team {
  background: #f4f4fd;
  padding: 96px 0;
}

.our-team {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-list {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    margin: 0;
}

.member-team {
  background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 0px 0px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.box-team {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-profession {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icons-item {
  width: 40px;
  height: 40px;
}

.link-icon {
  width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd
}

/* our portfolio*/

.section-portfolio {
  padding: 96px 0;
  margin: 0 auto;
}

.our-portfolio-list {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0;
}

.box-portfolio {
  border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 288;
    height: 120px;
}

.our-portfolio {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.project-cart {
  background: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-cart-wrap {
  position: relative;
  overflow: hidden;
}

.wrap-text {
  display: none;
}

.cart-content {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.cart-content-item {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*footer*/

.footer {
  background: #2e2f42;
    padding: 96px 16px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 auto;
}

.footer-one {
  margin-bottom: 72px;
}

.footer-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo-span {
  color: #f4f4fd;
  display: inline-block;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  display: block;
  text-align: center;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 16px;
}

.footer-two {
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.social-media-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.social-link {
   display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 76px; 
  }


.footer-three {
  align-items: center;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.form-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  width: 288px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  line-height: 2;
  font-size: 12px;
  background-color: transparent;
  padding-left: 16px;
  opacity: 0.3;
}

.input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.6;
}

.button-footer {
  border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.footer-button-icon {
  fill: #fff;
    margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px;
}

.modal-btn-close {
  position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-title {
  width: 256px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
  align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 256px;
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-form-wrapper-input {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-form-icon {
  position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper-comment {
  margin-bottom: 16px;
    width: 256px;
}

.textarea-input {
  width: 100%;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    resize: none;
    padding: 16px 16px 24px;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.textarea-input::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16667;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
    }

.modal-form-checkbox {
    margin-bottom: 24px;
  }

.custom-checkbox-label {
  display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.custom-checkbox-label>.custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-link {
  line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.custom-checkbox-link-text {
  width: 231px;
}

.modal-btn-send {
  display: block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    height: 72px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 124px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-list:hover,
  .contacts-list:focus {
    color: #404bbf;
  }

  .contacts-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
  }

  @media screen and(-webkit-min-device-pixel-ratio: 2),
  (min-resolution:2dppx),
  (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: auto;
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404BBF
  }

  .hero-btn {
    min-width: 169px;
  }

  .container {
    width: 1158px;
  }

  .container-mission {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .feature {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }

  .our-team-list {
    gap: 64px 24px;
    justify-content: center;
  }

  .link-icon:hover,
  .link-icon:focus {
    background-color: #404BBF;
  }

  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .box-portfolio {
    width: 356px;
  }

  .img-portfolio {
    min-width: 356px;
  }

  .project-cart {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    width: 584px;
    row-gap: 72px;
    align-items: stretch;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-one {
    margin-right: 24px;
    width: 264px;
    height: 112px;
  }

  .footer-two {
    width: 208px;
    height: 80px;
    display: block;
  }

  .social-media-text {
    text-align: start;
  }

  .social-link {
    margin: 0;
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link .icons-item .team-social-icon:hover {
    background-color: #31d0aa;
  }

  .social-link .icons-item .team-social-icon:focus {
    background-color: #31d0aa;
  }

  .input-footer {
    width: 264px;
    transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-text {
    text-align: start;
  }

  .button-footer {
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-button-icon {
    fill: #fff;
    margin-left: 16px;
  }

  .form-footer .input-footer:hover {
    border: 1px solid #31d0aa;
  }

  .form-footer .button-footer:hover {
    background-color: #31d0aa;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-title {
    width: 360px;

  }

  .modal-form {
    width: 360px;
    min-height: 336px;
  }

  .modal .modal-btn-close:hover,
  .modal-btn-close:focus {
    border: none;
    background-color: #404bbf;
  }

  .modal-btn-close:hover>.icon-close {
    fill: #ffffff
  }

  .modal-btn-close:focus>.icon-close {
    fill: #ffffff
  }

  .modal-input {
    width: 360px;
  }

  .modal-form-wrapper-comment {
    width: 360px;
  }

  .custom-checkbox-label {
    flex-wrap: nowrap;
  }

  .custom-checkbox-link-text {
    width: 338px;
  }

  .modal-btn-send:hover,
  .modal-btn-send:focus {
    background-color: #404bbf;
  }
}


@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .logo {
    margin-right: 76px;
  }

  .header-container {
    width: 1440px;
    height: 72px;
    }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    }

  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts {
    margin-left: auto;
  }

  .mobile-menu {
      display: none;
    }

   .hero {
    padding: 188px 0;
      max-width: 1440px;
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   } 
        @media screen and(-webkit-min-device-pixel-ratio: 2),
        (min-resolution:2dppx),
        (min-resolution: 192dpi) {
          .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
          }
        }
        
        .hero-title {
          margin-bottom: 48px;
        }

        .section {
          padding: 120px 0;
        }

        .text-container {
          width: 1158px;
        }

        .container-mission {
          gap: 24px;
        }

        .feature-type {
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
        }

        .feature {
          flex-wrap: nowrap;
          gap: 8px;
          flex-basis: calc((100% - 72px) / 4);
        }

        .feature-item-border {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #8e8f99;
          border-radius: 4px;
          width: 264px;
          height: 112px;
          background-color: #f4f4fd;
          margin-bottom: 8px;
        }

        .feature-item {
          font-weight: 400;
        }

        .container-team {
           width: 1128px;
           margin: 0 auto;
           padding-top: 32px;
           padding-bottom: 32px;
        }

        .section-team {
          padding-top: 120px;
          padding-bottom: 120px;
        }
        .our-team-list {
          flex-wrap: nowrap;
           gap: 24px;
        }

        .box-team {
          padding-top: 32px;
          padding-bottom: 32px;
        }

        .section-portfolio {
          padding-top: 120px;
          padding-bottom: 120px;
        }
        .our-portfolio-list {
          gap: 24px;
          row-gap: 48px;
        }
        .box-portfolio {
          width: 360px;
          padding-top: 32px;
          padding-bottom: 32px;
        }

        .project-cart {
          width: calc((100% - 48px) / 3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .wrap-text {
         display: block;
         position: absolute;
         top: 0;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #f4f4fd;
         background-color: #4d5ae5;
         height: 100%;
         left: 0;
         padding: 40px 32px;
         transform: translateY(100%);
         transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .project-cart:hover .wrap-text {
          transform: translate(0);
        }
        .project-cart:hover {
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 2px 1px rgba(46, 47, 66, 0.08);
        }
        
        .footer {
          padding: 100px 0;
        }

        .footer-container {
          flex-wrap: nowrap;
          width: 1158px;
          height: 112px;
          padding: 0 15px;
        }
        
        .footer-text {
          margin-bottom: 0;
          width: 264px;
        }

        .footer-logo {
          display: inline-block;
            justify-content: flex-start;
        }

        .footer-one {
          margin-right: 120px;
        }

        .footer-three {
          margin-left: 80px;
          width: 453px;
          height: 80px;
        }
        .form-footer {
          flex-wrap: nowrap;
        }

        .modal-input:focus,
        .modal-input:hover {
            border-color: #4d5ae5;
          }

        .modal-input:focus+.modal-form-icon,
        .modal-input:hover+.modal-form-icon {
             fill: #4d5ae5;
            }
        .textarea-input {
          border-color: #4D5AE5;
        }

      }